<ion-header>
    <ion-toolbar>
        <div id="buttons">
            <ion-back-button slot="start">
            </ion-back-button>

            <ion-icon id="listen" type="ion-button" slot="icon-only" name="ear" size="large" src="assets/icon/boton escucha.svg"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <div id="container-text">
            <strong><h2>Ten tu cédula a mano</h2></strong>
            <h3>La necesitas para ubicar el número de documento.</h3>

            <div id="nuevas">
                <h5>En cédulas nuevas está aquí</h5>
                <ion-card>
                    <ion-card-content>
                        <img src="assets/images/SD_CI_NUEVA_VF.png" alt="">
                    </ion-card-content>
                </ion-card>
            </div>

            <div id="antiguas">
                 <h5>En cédulas antiguas está aquí</h5>
                 <ion-card>
                    <ion-card-content>
                        <img src="assets/images/SD_CI_ANTIGUA_VF.png" alt="">
                      </ion-card-content>
                </ion-card>
            </div>

        </div>

        <div id="buttons">
            <section>
                <!-- <header>Block Width</header> -->
                <ion-button id="buttonComenzar" color="tertiary" expand="block" fill="outline" (click)='requiredId()'>COMENZAR</ion-button>
            </section>
        </div>
    </div>

</ion-content>