ion-back-button{
    text-align:left;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

#listen{
    text-align:right;
    float:right;
    margin-right: 10px;
    margin-top: 10px;
}

ion-header{
    --background: #white;  
}

buttons{
    --background: #white;  
}

ion-content{
    --fullscreen: true;
    --background: white; //this was the solution for background colour!!! :)
    align-content: center;
}

ion-img{
    justify-self: center;
    align-content: center;
    size: 50%;
    margin: 0rem;
}

ion-card{
    max-height: 164px;
    max-width: 254px;
    margin: 0rem;
    text-align: center;
    justify-items: center;
}

#container {
    margin: 0;
    text-align: center;
    text-decoration-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    // it was added
    padding: 10px 20px;
    text-align: left;
    background-color:white;
    margin-bottom: 22px;
    // *************
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container a {
    text-decoration: none;
}

#container-text{
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    color: #020202;
    font-family: "GothamBold";
    font-size: 22px; 
    text-align: center;
}

h3{
    color: #333333;
    font-family: "GothamMedium";
    font-size: 16px;
    text-align: center;
}

h5{
    color: #020202;
    font-family: "GothamBook";
    font-size: 14px;
    text-align: center;
}

#buttonComenzar{
    font-family: "GothamBold";
    font-size: 15px;
    height: 65px;
    vertical-align: center;
    margin-top: 15px;
}
#nuevas{
    margin: 0px;
    text-align: center;
}

#antiguas{
    margin: 0px;
    align-items: center;
}