<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button slot="start" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-text>comencemos</ion-text>
        <ion-button id="listen" slot="end" (click)="actionServicesInfo.speak2()">
            <ion-icon type="ion-button" src="assets/icon/botonescucha.svg"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <div id="container-text">
            <strong><h2>Ten tu cédula a mano</h2></strong>
            <h3>La necesitas para ubicar el número de documento.</h3>

            <div id="nuevas">
                <h5>En cédulas nuevas está aquí</h5>
                <ion-card>
                    <ion-card-content>
                        <img src="assets/images/SD_CI_NUEVA_VF.png" alt="">
                    </ion-card-content>
                </ion-card>
            </div>

            <div id="antiguas">
                <h5>En cédulas antiguas está aquí</h5>
                <ion-card>
                    <ion-card-content>
                        <img src="assets/images/SD_CI_ANTIGUA_VF.png" alt="">
                    </ion-card-content>
                </ion-card>
            </div>

        </div>
        <br>
        <div id="buttons">
            <section>
                <!-- <header>Block Width</header> -->
                <ion-button id="buttonComenzar" color="tertiary" expand="block" fill="outline" (click)='requiredId()'>COMENZAR</ion-button>
            </section>
        </div>
    </div>

</ion-content>