<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button slot="start" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-text>comencemos</ion-text>
        <ion-button id="listen" slot="end" (click)="actionServicesInfo.speak3()">
            <ion-icon type="ion-button" src="assets/icon/botonescucha.svg"></ion-icon>
        </ion-button>






    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-text>Ingresa tu RUT, número de documento y correo</ion-text>
    <form backgroundcolor="white" onsubmit="processForm(event)">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">Rut
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Número de documento o serie
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Address</ion-label>

                <ion-input placeholder="Address Line 1"></ion-input>
                <ion-button slot="end">
                    <ion-icon name="ear-outline"></ion-icon>
                </ion-button>
                <ion-input placeholder="Address Line 2"></ion-input>
                <ion-button slot="end">
                    <ion-icon name="ear-outline"></ion-icon>

                </ion-button>
                <ion-input placeholder="City"></ion-input>
                <ion-input placeholder="State"></ion-input>
                <ion-input placeholder="Zip Code"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Notes</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
        </ion-list>

        <div class="ion-padding">
            <ion-button backgroundcolor="white" expand="block" type="submit" class="ion-no-margin">Continuar</ion-button>
        </div>
    </form>


</ion-content>