<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button slot="start" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-text>comencemos</ion-text>
        <ion-button id="listen" slot="end" (click)="actionServicesInfo.speak3()">
            <ion-icon type="ion-button" src="assets/icon/botonescucha.svg"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <div id="container-text">
            <strong><h2>Ingresa tu RUT, número de documento y correo</h2></strong>

            <h5>¡Recuerda! Abrir tu cuenta en Tenpo es seguro y gratis.</h5>

            <div class="list">
                <label class="item item-input">
                  <input type="text" placeholder="Rut">
                  <i class="icon placeholder-icon"></i>
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="Número de documento o serie">
                  <i class="icon placeholder-icon"></i>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Correo electrónico">
                    <i class="icon placeholder-icon"></i>
                  </label>
            </div>
            <ion-item>
                <ion-checkbox slot="start"></ion-checkbox>
                <h4>Acepto conforme los términos y condiciones del servicio.</h4>
            </ion-item>
        </div>

        <div id="buttons">
            <section>
                <!-- <header>Block Width</header> -->
                <ion-button id="buttonContinuar" color="secondary" fill="outline" expand="block">CONTINUAR</ion-button>
            </section>
        </div>
    </div>

</ion-content>