//STYLE OF HEADER AND ITEMS IN IT

ion-header{
    --background: #F7F7F7;  
}

//setting backgound color of header
ion-toolbar{
    --background: #F7F7F7;
    --margin: 5px;
}

ion-content{
    --fullscreen: true;
    --background: #F7F7F7; //this was the solution for background colour!!! :)
    --margin-left: 10px;
}

//icons in the header
#back{
    text-align:left;
    float:left;
    margin-left: 22px;
    margin-top: 30px;
}

#listen{
    text-align:right;
    float:right;
    margin-right: 22px;
    margin-top: 30px;
}

//icons before the text
#luz{
    text-align:left;
    float:left;
}

#ayuda{
    text-align:right;
    float: right;
    margin-right: 10px;
    margin-top: 0em;
}

#grupo2{
    text-align:left;
    float:left;
}

#listen2{
    text-align:left;
    float:left;
}

#container {
    margin: 0;
    text-align: center;
    text-decoration-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    // it was added
    padding: 10px 20px;
    text-align: left;
    background-color: #F7F7F7;
    margin-bottom: 22px;
    // *************
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container a {
    text-decoration: none;
}

#container-text{
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    color: #020202;
    font-family: "GothamBold";
    font-size: 20px; 
}

h3{
    color: #333333;
    font-family: "GothamMedium";
    font-size: 15px;
    text-align-last: inherit;
    text-align: left;
    margin-right: 22px;
    padding-left: 20px;
}

h4{
    color: #333333;
    font-family: "GothamBold";
    font-size: 15px;
    text-align: center;
}

h5{
    color: #020202;
    font-family: "GothamMedium";
    font-size: 14px;
}

#buttonContinuar{
    font-family: "GothamBold";
    font-size: 15px;
    height: 65px;
    vertical-align: center;
    margin-top: 15px;
}

// ion-checkbox{
//     --border-style: 
// }