
ion-toolbar{
    --background: #00BAA4;
    --mode: "md";
}

ion-title {
    height: 40.3px;
    padding: 10px 20px;
    background-color: #00BAA4;
    text-align: left;
    top: 66px;
}

ion-content{
    --fullscreen: true;
    --background: #00BAA4; //this was the solution for background colour!!! :)
}

ion-header{
    background-color: #00BAA4;
}
 
#container {
    margin: 0;
    text-align: center;
    text-decoration-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    // it was added
    padding: 10px 20px;
    text-align: left;
    background-color: #00BAA4;
    // *************
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

// code added
#buttons {
    margin-top: 40px;
    font-family: "GothamBold";
    color: #00BAA4;

}

#buttonRegister{
    font-family: "GothamBold";
    font-size: 15px;
    height: 65px;
    vertical-align: center;
    margin-bottom: 5px;
}

#buttonStartSession{
    margin-top: 5px;
    font-family: "GothamBold";
    font-size: 15px;
    height: 65px;
    vertical-align: center;
}

#container-text{
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    color: white;
    font-family: "GothamBold";
    font-size: 36px; 
    width: "113pt";
    margin-top: "113pt";
    margin-right: "265pt";
}

h2{
    color: white;
    font-family: "GothamLight";
    font-size: 34px;
}

ion-footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }


#footer-title{
    vertical-align: middle;
    display: inline;
    align-content: center;
}

#registrate-con{
    color: white;
    font-family: "GothamLight";
    font-size: 16px;
    text-align: center;
}

#multicaja{
    color: white;
    font-family: "GothamMedium";
    font-size: 16px;
    text-align: center;
}


//**************