<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title>
            TENPO LOGO
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong><h1>¡Hola!</h1></strong>
        <h1>
            Te damos la <br> bienvenida
        </h1>
        <div id="buttons">
            <section>
                <!-- <header>Block Width</header> -->
                <ion-button color="dark" expand="block" (click)='userRegister()'>Crear una cuenta</ion-button>
            </section>
            <section>
                <!-- <header>Block Width</header> -->
                <ion-button color="white" expand="block" (click)='startSession()'>Iniciar sesión</ion-button>
            </section>
        </div>

    </div>

</ion-content>