<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <!-- <ion-title>
            <img alt="logo" height="40" src="assets/images/logo_blanco.svg">
        </ion-title> -->
    </ion-toolbar>
    <ion-title>
        <img alt="logo" height="40" src="assets/images/logo_blanco.svg">
    </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                <img alt="logo" src="assets/images/logo_blanco.svg">
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <div id="container-text">
            <strong><h1>¡Hola!</h1></strong>
            <h2>
                Te damos la <br> bienvenida
            </h2>
        </div>
        <br><br><br><br><br><br>
        <div id="buttons">
            <section>
                <!-- <header>Block Width</header> -->
                <ion-button id="buttonRegister" color="primary-contrast" expand="block" (click)='userRegister()'>Crear una cuenta</ion-button>
            </section>
            <br>
            <section>
                <!-- <header>Block Width</header> -->
                <ion-button id="buttonStartSession" outline="white" color="bgColor" expand="block" (click)='startSession()'>Iniciar sesión</ion-button>
            </section>
        </div>

    </div>

</ion-content>