<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
    </ion-toolbar>
    <ion-title>
        <img alt="logo" height="40" src="assets/images/logo_blanco.svg">
    </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <div id="container-text">
            <strong><h1>¡Hola!</h1></strong>
            <h2>
                Te damos la <br> bienvenida
            </h2>
        </div>
        <div id="buttons">
            <ion-button id="buttonRegister" expand="block" fill="solid" color="primary" (click)='userRegister()'>CREAR UNA CUENTA</ion-button>
            <ion-button id="buttonStartSession" expand="block" fill="outline" color="secondary" (click)='startSession()'>INICIAR SESION</ion-button>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title id="footer-title" class="ion-no-border">
            <p id="registrate-con">Registrate con Multicaja PayPal</p>
        </ion-title>
    </ion-toolbar>
</ion-footer>